{% extends 'base.html' %}

  {% block head %}
      <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
      <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&v=3.exp&libraries=places"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>

      <script src="/static/searchCity.js"></script>
      <script src="/static/datePicker.js"></script>

  {% endblock %}




  {% block content %}


    <body onload="initialize()">

      <br><br><br>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Add a ride</h1>
          <p class="lead">


          <form action="/add-ride" class="form-group" method=POST>
            
            Date of trip: 
              <input class="datepicker" type="text" name="date" id="inputsm">
              From 
              <input type="text" name="origin" class="query">
            to
              <input type="text" name="destination" class="query">
            <hr class="my-4">
            How many passengers would you like to take?
              <input type="text" name="max_passengers"><br><br>
            How much should each passenger chip in? 
              <input type="text" name="cost"><br><br>
            Are you willing to pick up or drop off along the way?
              <input type="radio" name="newleg" value="True">Yes 
              <input type="radio" name="newleg" value="False">No<br>
              <br>
            <input type="submit" class="btn btn-primary">
          </form>

          </p>
        </div>
      </div>

    </body>
    {% endblock %}