{% extends 'base.html' %}

    {% block head%}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <script src="/static/sortTrips.js"></script>
    <script src="/static/carbonOverTimeChart.js"></script>
    <script src="/static/carbonSavedChart.js"></script>
    <script src="/static/datePicker.js"></script>
    <script src="/static/searchCity.js"></script>
    <script src="/static/userAsDriverTable.js"></script>
    <script src="/static/userAsPassengerTable.js"></script>

    {% endblock %}

    {% block content %}
    <br>
    <h2>Welcome, {{ user_info.fname }} </h2>
    <br>
    <ul class="nav nav-tabs" role="tabpanel">
        <li class="nav-item"><a data-toggle="tab" class="nav-link" aria-selected="true" href="#impact" aria-controls="impact" role="tab">Impact</a></li>
        <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#ridesAsDriver">I'm Driving</a></li>
        <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#ridesAsPassenger">I'm Joining</a></li>
    </ul>

    <div class="tab-content" id="myTab">
        <div id="impact" class="tab-pane active">
            <br><br>
            <div class="row">
                <div class="col">
                    <canvas id="carbonFootprintOverTimeChart"></canvas>
                </div>
                <div class="col">
                    <canvas id="carbonFootprintChart"></canvas> 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                <div class="card">
                  <div class="card-body">
                    So far you have saved <div id="carbonReduced">number</div> liters of CO2.
                  </div>
                </div>
                </div>
            </div>
            <br>
        </div>
    
        <div id="ridesAsDriver" class="tab-pane fade">
                <br>
                <div id="todayTable" class="table-info"></div>
                <div id="upcomingTable" class="table-info"> </div>
                <div id="pastTable" class="table-info"></div>
        </div>

        <div id="ridesAsPassenger" class="tab-pane fade">
            <br>
            <div id="passengerTodayTable" class="table-info"></div>
            <div id="passengerUpcomingTable" class="table-info"></div>
            <div id="passengerPastTable" class="table-info"></div>
        </div>
    </div>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Send message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/notify" method="post" class="form-group">
                <input type="text" class="form-control" name="message">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-message" value="Send">
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


<script>

    function getTrips() {
        $.get('/trips.json', sortTripsByDate);
    }

    window.addEventListener("load", getTrips());

    $(function(){
        $('[data-toggle=popover]').popover({
          html: true,
          trigger: 'hover'
    }) 
    });


</script>


{% endblock %}