{% extends 'base.html' %}

    <br>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div>{{ message }}</div>
            <br>
        {% endfor %}
    {% endwith %}

    <h2>Welcome, {{ user_info.fname }} ~ </h2>
    <br>

    {% block content %}
    <ul class="nav nav-tabs" role="tabpanel">
        <li class="nav-item"><a data-toggle="tab" class="nav-link" aria-selected="true" href="#home" aria-controls="home" role="tab">Home</a></li>
        <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#ridesAsDriver">I'm Driving</a></li>
        <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#ridesAsPassenger">I'm Joining</a></li>
    </ul>

    <div class="tab-content" id="myTab">
        <div id="home" class="tab-pane fade">
            <br><br>
            <p>Hello</p>

            <br>
            <div class="row">
                <canvas id="carbonFootprintChart"></canvas>
            </div>
            <br>
            <div class="row">
                <canvas id="carbonFootprintOverTimeChart"></canvas>
            </div>
        </div>
    
        <div id="ridesAsDriver" class="tab-pane fade">
                <div id="todayTable"></div>
                <div id="upcomingTable"> </div>
                <div id="pastTable"></div>
        </div>

        <div id="ridesAsPassenger" class="tab-pane fade">
            <div id="passengerTodayTable"></div>
            <div id="passengerUpcomingTable"></div>
            <div id="passengerPastTable"></div>
        </div>
    </div>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Send message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/notify" method="post" class="form-group">
                <input type="text" class="form-control" name="message">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Message">
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
<script>

    function getTrips() {
        $.get('/trips.json', sortTripsByDate);
    }

    getTrips();


    function displayUserInfo(results) {
        let img = results["userInfo"]["userProfileImg"];
        document.getElementById("profileImg").src = img;
    }
    
    function getUserInfo() {
            $.get('/user-info.json', displayUserInfo);
        }

    getUserInfo();

    $('#myTab a[href="#home"]').on('load', function (e) {
        e.preventDefault()
        $(this).tab('show')
})

</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

{% endblock %}