<!DOCTYPE html>
<html>
<head>
    <title></title>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</head>
<body>

    <div id="todayTable""></div><br>
    <div id="upcomingTable"> </div><br>
    <div id="pastTable"></div><br>
    
    <div class="trips">
        <table class="trip"></table>
    </div>

     <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>

<script>

    function sortTripsByDate(results) {
        let trips = results["trips"];
        let trips_passenger = results["trips_as_pass"]

        let todaysDate = new Date()
        let todaysDateUTC = Date.UTC(todaysDate.getUTCFullYear(),
                                     todaysDate.getUTCMonth(),
                                     todaysDate.getUTCDate())
       
        let upcomingTrips = new Array();
        let pastTrips = new Array();
        let todaysTrips = new Array();

        for (let i = 0; i < trips.length; i++) {
            
            date = new Date(trips[i]["date_of_trip"]);
            utc_date = Date.UTC(date.getUTCFullYear(),
                                date.getUTCMonth(),
                                date.getUTCDate());
    

            if (utc_date == todaysDateUTC) {
                todaysTrips.push(trips[i]);
            } else if (utc_date > todaysDateUTC) {
                upcomingTrips.push(trips[i]);
            } else if (utc_date < todaysDateUTC) {
                pastTrips.push(trips[i]);
            }
        }

        if (todaysTrips.length > 0) {
            createTodaysTripsTable(todaysTrips)
        }

        if (upcomingTrips.length > 0) {
            createUpcomingTripsTable(upcomingTrips);
        }

        if (pastTrips.length > 0) {
            createPastTripsTable(pastTrips);
        }

        createPassTable(trips_passenger);
    }

    function getTrips() {
        $.get('/trips.json', sortTripsByDate);
    }

    getTrips();

    function createTodaysTripsTable(todaysTrips) {

        let table = "<table>";
        table += "<caption>Today's ride</caption>";
        table += "<th>Date:</th>";
        table += "<th>From:</th>";
        table += "<th>To:</th>";
        
        for (let i = 0; i < todaysTrips.length; i++) {

            table += "<tr>";
            table += "<td>"+todaysTrips[i]["date_of_trip"]+"</td>";
            table += "<td>"+todaysTrips[i]["origin"]+"</td>";
            table += "<td>"+todaysTrips[i]["destination"]+"</td>";
            table += "</tr>";
        }  

        table += "</table>";
        document.getElementById("upcomingTable").innerHTML = table;
    }

    function createUpcomingTripsTable(upcomingTrips) {

        let table = "<table>";
        table += "<caption>Upcoming rides</caption>";
        table += "<th>Date:</th>";
        table += "<th>From:</th>";
        table += "<th>To:</th>";
        
        for (let i = 0; i < upcomingTrips.length; i++) {

            table += "<tr>";
            table += "<td>"+upcomingTrips[i]["date_of_trip"]+"</td>";
            table += "<td>"+upcomingTrips[i]["origin"]+"</td>";
            table += "<td>"+upcomingTrips[i]["destination"]+"</td>";
            table += "</tr>";
        }  

        table += "</table>";
        document.getElementById("upcomingTable").innerHTML = table;
    }

    function createPastTripsTable(pastTrips) {

        let table = "<table>";
        table += "<caption>Past rides</caption>";
        table += "<th>Date:</th>";
        table += "<th>From:</th>";
        table += "<th>To:</th>";
        
        for (let i = 0; i < pastTrips.length; i++) {

            table += "<tr>";
            table += "<td>"+pastTrips[i]["date_of_trip"]+"</td>";
            table += "<td>"+pastTrips[i]["origin"]+"</td>";
            table += "<td>"+pastTrips[i]["destination"]+"</td>";
            table += "</tr>";
        }  

        table += "</table>";
        document.getElementById("pastTable").innerHTML = table;
    }

    function createPassTable(trips_passenger) {

        // let table = "<table>";
        let table = "<caption>Rides as passenger</caption>";
        table += "<th>Date:</th>";
        table += "<th>From:</th>";
        table += "<th>To:</th>";
        console.log(trips_passenger);
        for (let i = 0; i < trips_passenger.length; i++) {

            table += "<tr>";
            table += "<td>"+trips_passenger[i]["date_of_trip"]+"</td>";
            table += "<td>"+trips_passenger[i]["origin"]+"</td>";
            table += "<td>"+trips_passenger[i]["destination"]+"</td>";
            table += "</tr>";
        }

        // table += "</table>";
        let tableList = document.getElementsByClassName("trips")[0]

        tableList.getElementsByClassName("trip")[0].innerHTML = table;

    }


</script>
</body>
</html>