<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>


</head>
<body>

    <div>
        <img id="profileImg" src="">
    </div><br>

    <div id="todayTable""></div><br>
    <div id="upcomingTable"> </div><br>
    <div id="pastTable"></div><br>
    
    <div class="trips">
        <table class="trip"></table>
    </div>

    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
    </style>

<script>

    function sortTripsByDate(results) {
        let trips = results["trips"];
        let trips_passenger = results["trips_as_pass"]
        // const { trips, trips_as_pass } = results;

        let todaysDate = new Date()
        let todaysDateUTC = Date.UTC(todaysDate.getUTCFullYear(),
                                     todaysDate.getUTCMonth(),
                                     todaysDate.getUTCDate())
       
        let upcomingTrips = new Array();
        let pastTrips = new Array();
        let todaysTrips = new Array();

        for (let i = 0; i < trips.length; i++) {
            
            date = new Date(trips[i]["date_of_trip"]);
            utc_date = Date.UTC(date.getUTCFullYear(),
                                date.getUTCMonth(),
                                date.getUTCDate());
    

            if (utc_date == todaysDateUTC) {
                todaysTrips.push(trips[i]);
            } else if (utc_date > todaysDateUTC) {
                upcomingTrips.push(trips[i]);
            } else if (utc_date < todaysDateUTC) {
                pastTrips.push(trips[i]);
            }
        }
    //     const tripMap = [( todaysTrips, createTodaysTripsTable), ]
    //     tripMap.map((tripMap) => {
    //         if (tripMap[0].length > 0) {
    //             tripMap[1](tripMap[0])
    //         }
    //     })

    //     if (todaysTrips.length > 0) {
    //         createTodaysTripsTable(todaysTrips)
    //     }

    //     if (upcomingTrips.length > 0) {
    //         createUpcomingTripsTable(upcomingTrips);
    //     }

    //     if (pastTrips.length > 0) {
    //         createPastTripsTable(pastTrips);
    //     }

        createTripTable(upcomingTrips, 'Upcoming Trips', 'upcomingTable');
        createTripTable(pastTrips, 'Past trips', 'pastTable');
        createTripTable(todaysTrips, "Today\'s Trip", 'todayTable');

        createPassTable(trips_passenger);
    }

    function getTrips() {
        $.get('/trips.json', sortTripsByDate);
    }

    getTrips();

    function createTripTable(trips, title, elementID) {

        // If trips is empty, do nothing
        if (trips.length === 0) {
            return null;
        } else {
            let table = "<table>";
            table += `<caption>${title}</caption>`;
            table += "<th>Date:</th>";
            table += "<th>From:</th>";
            table += "<th>To:</th>";
            table += "<th>Passengers:</th>";

            
            for (let i = 0; i < trips.length; i++) {

                let passenger_fn;
                let passenger_img;

                    passengerList = trips[i]["passengers"]

                // Map (like list comprehension)
                for (let j = 0; j < passengerList.length; j++) {
                    passenger_fn = passengerList[j]["user_fname"];
                    passenger_img = passengerList[j]["user_img"];
                }
                

                table += "<tr>";
                table += "<td>"+trips[i]["date_of_trip"]+"</td>";
                table += "<td>"+trips[i]["origin"]+"</td>";
                table += "<td>"+trips[i]["destination"]+"</td>";
                table += "<td>"+(passenger_fn != undefined ? passenger_fn : "No passengers yet!")+
        
                "</td>";
        
                table += "</tr>";
            }  

            table += "</table>";
            document.getElementById(elementID).innerHTML = table;
            }

    }


    function createPassTable(trips_passenger) {

        let table = "<caption>Rides as passenger</caption>";
        table += "<th>Date:</th>";
        table += "<th>From:</th>";
        table += "<th>To:</th>";
        table += "<th>Driver:</th>";

        for (let i = 0; i < trips_passenger.length; i++) {

            table += "<tr>";
            table += "<td>"+trips_passenger[i]["date_of_trip"]+"</td>";
            table += "<td>"+trips_passenger[i]["origin"]+"</td>";
            table += "<td>"+trips_passenger[i]["destination"]+"</td>";
            table += "<td>"+'driver'+"</td>";
            table += "</tr>";
        }

        let tableList = document.getElementsByClassName("trips")[0]
        tableList.getElementsByClassName("trip")[0].innerHTML = table;

    }

    function displayUserInfo(results) {
        let img = results["user_info"]["user_profile_img"];
        document.getElementById("profileImg").src = img;
    }
    

    function getUserInfo() {
            $.get('/user-info.json', displayUserInfo);
        }

    getUserInfo();

</script>
</body>
</html>