{% extends 'base.html' %}

  {% block head %}
      <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
      <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}&v=3.exp&libraries=places"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


      <script src="/static/searchCity.js"></script>
      <script src="/static/datePicker.js"></script>

      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  {% endblock %}
    
  {% block content %}

    <body onload="initialize()">

      <div class="container">
        <div class="row">
          <div class="col">

        <div id="locationField">
          <form action="/search-rides" method=POST>
            <input id="origin" class="query" type="text" name="origin" placeholder="Enter starting location" required> 
            <input id="destination" class="query" type="text" name="destination" placeholder="Enter destination" required>
            <input id="datepicker" type="text" name="date" placeholder="date" required>
            <input type="submit">
          </form>
        </div>

          </div>
        </div>

      </div>

    </body>
  {% endblock %}