{% extends 'base.html' %}

{% block content %}
<!-- 
    <h2>Update Your Ride:</h2>
        <form action="/update-ride" method=POST>
            Date of trip: <input type="text" name="date"><br>
            Where does your trip begin? <input type="text" name="origin"><br>
            What is your destination? <input type="text" name="destination"><br>
            How many passengers would you like to take? <input type="text" name="max_passengers"><br>
            Are you willing to pick up or drop off along the way?
                <input type="radio" name="newleg" value="True">Yes 
                <input type="radio" name="newleg" value="False">No<br> 
            How much should each passenger chip in? <input type="text" name="cost"><br>
            <input type="submit">
        </form>

    It would be awesome to be able to update the ride w/o loading a whole new page.  -->   

<!--     Date: {{ trip.date_of_trip }} <br>
    Starting: {{ trip.origin }} <br>
    Ending: {{ trip.destination }} <br>
    Current passengers: {{ trip.num_passengers }} <br>
    Max passengers: {{ trip.max_passengers }}  -->

{% endblock %}